<div class="footer">
    <div class="footercon">
    <div class="flex1">
    <h5>Questions? Call +90-999-999-99-99
    </h5>
    <h5></h5>
    </div>
    <ul class="list1">
    <li><a href="">Lorem.</a></li>
    <li><a href="">Lorem, ipsum.</a></li>
    <li><a href="">Lorem, ipsum dolor.</a></li>
    <li><a href="">Lorem, ipsum.</a></li>
    <li><a href="">Lorem, ipsum.</a></li>
    </ul>
    <ul class="list1">
    <li><a href="">Lorem.</a></li>
    <li><a href="">Lorem.</a></li>
    <li><a href="">Lorem, ipsum dolor</a></li>
    <li><a href="">Lorem.</a></li>
    <li><a href="">#</a></li>
    </ul>
    <ul class="list1 sixhoundred-fifty">
    <li><a href="">Lorem.</a></li>
    <li><a href="">Lorem, ipsum dolor.</a></li>
    <li><a href="">Lorem.</a></li>
    <li><a href="">Lorem, ipsum.</a></li>
    <li><a href="">#</a></li>
    </ul>
    <ul class="list1 sixhoundred-fifty">
    <li><a href="">Lorem.</a></li>
    <li><a href="">Lorem, ipsum dolor.</a></li>
    <li><a href="">Lorem.</a></li>
    <li><a href="">Lorem, ipsum.</a></li>
    <li><a href="">#</a></li>
    </ul>  
    </div>
    </div>
        <div class="end">
        <h2>
        Bring Movie
        </h2> 
        <h2>
        </h2>                    
    </div>